<%= render( :partial => 'refinery/pages/breadcrumbs', :locals => { :last_crumb => @post.title }) %>

<!-- PAGE CONTENT -->
<section class="our_vision">

  <!-- CONTAINER -->
  <div class="container">
    <div class="row">
      <!-- BODY -->
      <div class="col-lg-9 col-sm-9 padbot20">
            <div id="show_blog_post">
              <%= render 'post' %>
            </div>
            <%= render 'comments' %>
      </div><!-- //BODY-->

      <!-- SIDE BODY -->
      <div id="sidebar" class="col-lg-3 col-sm-3">
        <div class="well">
          <%= render '/refinery/blog/shared/body_content_right' %>
          <%= render "/refinery/content_page", :remove_automatic_sections => true %>
        </div>
      </div><!-- //SIDE BODY -->
    </div>
  </div><!-- //CONTAINER -->
</section><!-- //PAGE CONTENT -->

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
<% content_for :javascripts do %>
    <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
    <%#= javascript_include_tag('refinery/blog/frontend') %>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "<%= Refinery::Blog.share_this_key %>", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
<% end if Refinery::Blog::Post::ShareThis.enabled? %>

<% content_for :javascripts do %>
    <%= javascript_include_tag('blog-post') %>
    <script src="//www.google.com/recaptcha/api/challenge?k=<%=@recaptcha_public_key%>"></script>
    <%= javascript_include_tag('jquery.validate.min') %>
    <%= javascript_include_tag('additional-methods.min') %>
<% end  %>


