
<!-- HOME -->
<section id="home">

  <!-- CONTAINER -->
  <div class="container">

    <!-- WELCOME -->
    <div id="home-welcome">
      <%=raw @page.content_for(:body) %>
    </div><!-- //WELCOME -->
  </div><!-- //CONTAINER -->

  <img src="<%=image_path('laura-toon.svg')%>">
</section><!-- //HOME -->
<!-- RECENT PROJECTS -->
<section class="projects_block">

  <!-- CONTAINER -->
  <div class="container">
    <h2 class="title center"><%=copywriting('latest projects', { :scope => :home })%></h2>

    <!-- ROW -->
    <div class="row">
      <% @projects.each do |project| %>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot30">
        <div class="project_item">
          <div class="hover_img">
            <%= image_fu(project.photo, '500x500#') %>
          </div>
          <div class="recent_projects_descr center">
            <div class="content">
              <%= link_to project.title, refinery.projects_projects_path(:anchor => project.anchor) %>
              <span><%=project.teaser%></span>
            </div>
          </div>
        </div>
      </div>
     <% end %>
    </div><!-- //ROW -->
  </div><!-- //CONTAINER -->
</section><!-- //RECENT PROJECTS -->