<% if post.live? %>
  <div class="blog_post" id="<%= dom_id(post) %>">
    <div class="row">
      <div class="post-image col-md-2" style="max-height: 150px; overflow: hidden">

        <% page = Nokogiri::HTML(post.body)
           img = page.css('img').first
           fallback = true
           unless img.nil?
             if src_match = img.attr('src').match(%r{/system/images/(.+?)/})
               fallback = false
               sha = src_match[1]
               job = Dragonfly::Job.deserialize sha, Dragonfly[:refinery_images]
        %>
                <%= link_to (image_fu Refinery::Image.where(:image_uid => job.uid).first, '600x600#c'), refinery.blog_post_path(post), :title => post.title %>
        <%
               end
            end

           # Fallback to default if couldn't get an image above
           if fallback
        %>
               <%= link_to (image_tag('blog-post.jpg')), refinery.blog_post_path(post), :title => post.title %>
        <%
            end
        %>
      </div>

        <div class="col-md-10">
          <%= render :partial => '/refinery/blog/shared/post_header', :locals => { :post => post} %>
            <p><%=truncate(page.text, length: Refinery::Blog.post_teaser_length, separator: ' ')%></p>
            <% if blog_post_teaser_enabled? && post.custom_teaser.present? %>
            <p><%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post) %></p>
            <% end %>
        </div>
    </div>
  </div>
<% end %>
