<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%=image_path('favicon.ico')%>">
  <%= render "/refinery/head" %>
  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body id="<%= canonical_id @page %>">
<!-- PRELOADER -->
<div id="preloader"><img src="<%= image_path("preloader.gif") %>" alt="" /></div>
<!-- //PRELOADER -->

<!-- PAGE -->
<div id="page" class="front_page">

<!-- PRELOADER HIDE -->
<div class="preloader_hide">

<!-- PAGE BLOCK -->
<div class="page_block">

<!-- HEADER -->
<header>

  <!-- MENU -->
  <div class="menu_block clearfix">

    <!-- CONTAINER -->
    <div class="container">


      <!-- LOGO -->
      <div class="logo">
        <a href="<%=refinery.root_path%>" ><img src="<%= image_path("logo.svg") %>" alt=""  onerror="this.onerror=null; this.src='<%= image_path("logo.png") %>'" /></a>
      </div><!-- LOGO -->

      <!-- RESPONSIVE BUTTON MENU -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <em></em><em></em><em></em><em></em>
        </button>
      </div><!-- //RESPONSIVE BUTTON MENU -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      </div>

    </div><!-- //CONTAINER -->
  </div><!-- //MENU -->
</header><!-- //HEADER -->

  <%= yield %>

<!-- FOOTER -->
<footer>

  <!-- CONTAINER -->
  <div class="container">

    <!-- ROW -->
    <div class="row" data-animated="fadeInUp">

      <!-- GET IN TOUCH -->
      <div class="col-lg-4 col-md-4 col-sm-6 padbot30 get_in_touch_block">
        <h3><%=copywriting('footer header 1', { :scope => :footer })%></h3>
        <div>
            <%=copywriting('footer content 1', { :scope => :footer, :phrase_type => 'wysiwyg' }).html_safe%>
        </div>
      </div><!-- //GET IN TOUCH -->

      <!-- RECENT POSTS FOOTER -->
      <div class="col-lg-5 col-md-5 col-sm-6 padbot30">
        <h3><%=copywriting('footer header 2', { :scope => :footer })%></h3>
        <%= render :partial => "/refinery/blog/widgets/posts_footer", :locals => { :posts => @recent_blog_posts } %>
      </div><!-- //RECENT POSTS FOOTER  -->
      <div class="respon_clear"></div>

      <!-- GOOGLE+ -->
      <div class="col-lg-3 col-md-3 padbot20">
        <h3><%=copywriting('footer header 3', { :scope => :footer })%></h3>
        <div class="flickrs">
          <div class="FlickrImages type7 clearfix">
            <ul></ul>
          </div>
        </div>
      </div><!-- GOOGLE+ -->

    </div><!-- //ROW -->
  </div><!-- //CONTAINER -->

  <!-- COPYRIGHT -->
  <div class="copyright clearfix">

    <!-- CONTAINER -->
    <div class="container">
      <div class="pull-left padbot20">
        <a class="copyright_logo" href="<%=refinery.root_path%>"><%=copywriting('site name')%></a> <span> &copy; Copyright 2012-<%= Date.today.year %></span>
      </div>

      <!-- FOOTER SOCIAL -->
      <div class="pull-right social">
        <%unless(copywriting('footer google+ link', { :scope => :social }).nil?) %>
        <a href="<%=copywriting('footer google+ link', { :scope => :social })%>" target="_blank" ><i class="fe social_googleplus"></i></a>
        <%end%>
        <%unless(copywriting('footer linkedin link', { :scope => :social }).nil?) %>
        <a href="<%=copywriting('footer linkedin link', { :scope => :social })%>" target="_blank" ><i class="fe social_linkedin"></i></a>
        <%end%>
        <%unless(copywriting('footer facebook link', { :scope => :social }).nil?) %>
        <a href="<%=copywriting('footer facebook link', { :scope => :social })%>" target="_blank" ><i class="fe social_facebook"></i></a>
        <%end%>
        <%unless(copywriting('footer twitter link', { :scope => :social }).nil?) %>
        <a href="<%=copywriting('footer twitter link', { :scope => :social })%>" target="_blank" ><i class="fe social_twitter"></i></a>
        <%end%>
      </div><!-- //FOOTER SOCIALS -->
    </div><!-- //CONTAINER -->
  </div><!-- //COPYRIGHT -->
</footer><!-- //FOOTER -->
</div><!-- //PAGE BLOCK -->
</div><!-- //PRELOADER HIDE -->
</div><!-- //PAGE -->

<%= render "/refinery/javascripts" %>
</body>
</html>
